language: node_js
node_js:
- 10.13.0
install:
- npm install
script:
- npm run test
branches:
  only:
  - main
  - dev
deploy:
  provider: heroku
  api_key: $HEROKU_API_KEY
  app:
    master: travis-demo-prod
    dev: travis-demo-staging
